li {
    list-style-type: '>>> ';
    font-weight: bold;
}

.pokemon-list {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.poke-button {
    color: white;
    background-color: rgb(4, 167, 207);
    text-align: center;
    width: 100px;


};

.poke-button:hover {
    background-color: grey;
}