body {
    background-color: rgb(235, 83, 83);
}

.list-group {
    background-color: rgb(233, 233, 233);
    border: 3px solid black;
}

.list-group-item {
    border: 1px solid black;
    padding: 0;
    margin: 5px;
}

.btn {
    border-radius: 0;
}

.active {
    background-color: rgb(2, 199, 2);
}